body{

}

#topo {
    background-color: #8a2be2;
    padding: 60px;
}
.bancopng{
    width: 40px;
    height: 40px;    
}
 #topo img{
    align-items: center;
 }
 #funcao{
   margin-top: 60px;
    height: 60px;
   width: 60px;
 }
 #funcao:hover{
    transition: 500ms;
    transform: scale(1.2);
 }
 #cartao{
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    margin-top: 20px;

 }
#cartao:hover{
    transform: scale(1.1);
    transition: 500ms;
    background-color:rgb(246, 239, 239) ;
}
#pngbranco{
    width: 40px;
    height: 40px;
}
.box{
    display: flex; /* Usar flexbox para alinhar imagem e texto */
    align-items: center; /* Centralizar verticalmente */
    padding: 20px; /* Espaço interno */
    background-color: #fff; /* Cor de fundo da caixa */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 10px; /* Bordas arredondadas */
    margin-top: 40px;
}
.image{
        width: 50px; /* Ajuste o tamanho da imagem */
        height: auto; /* Mantém a proporção da imagem */
        margin-right: 10px; /* Espaço entre a imagem e o texto */
}
.box:hover{
    transition: 500ms;
    background-color: rgb(230, 226, 226);
}
#imagens:hover{
    transition: 500ms;
    background-color: #cf3939;
}
